// Override default variables before the import
$border-radius: 8px;

body {
  min-height: 100vh;
}

// Custom utility class
.mw-500 {
  max-width: 500px !important;
}

.fs-7 {
  font-size: 0.75rem !important;
}

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
